<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Benzaiten</title>

    <meta name="description" content="An Automatic Text Summarization tool" />
    <meta name="keywords" content="artificial intelligence, text summarization, natural language processing, FMI" />
    <meta name="author" content="Tanya Hristova and Emine Basheva" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/benzaiten_style.css">
</head>

<body>
    <!-- jQuery, Tether, Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <div class="container text-center">
        
        <div class="page-header">
            <h1>Benzaiten <small> Automatic text summarization</small></h1>
        </div>
        
        <div class="container text-center">
            
            <form action="/" method="post" class="form-horizontal">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
            {% if summary %}
            <blockquote>
                <div id="textoutput" class="form-group">
                    <label for="inputText">Summary text</label>
                    <div class="form-control" id="inputText" rows="10">
                        {{ summary }}

                    </div>
                </div>
            </blockquote>
            {% endif %}

        </div>

    </div>
</body>
</html>