<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Benzaiten</title>

    <meta name="description" content="An Automatic Text Summarization tool" />
    <meta name="keywords" content="artificial intelligence, text summarization, natural language processing, FMI" />
    <meta name="author" content="Tanya Hristova and Emine Basheva" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="benzaiten_style.css">
</head>

<body>
    <!-- jQuery, Tether, Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <div class="container text-center">

        <div class="page-header">
            <h1></h1>
            <h1>Benzaiten <small> Automatic text summarization</small></h1>
            <h1></h1>
        </div>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#textinput">Text<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#fileinput">File<span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container text-center">
            </br>
            <!--<label>Set your text here:</label>-->
            <form action="/" method="post" class="form-horizontal">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                    </br>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
            {% if summary %}
            <blockquote>
                <div id="textoutput" class="form-group">
                    <label for="inputText">Summary text</label>
                    <div class="form-control" id="inputText" rows="10">
                        {{ summary }}

                    </div>
                </div>
            </blockquote>
            {% endif %}

        </div>
        <!--<div class="container">
            <div id="textinput" class="form-group">
                <label for="inputText">Original text</label>
                <textarea class="form-control" id="inputText" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>-->

        <!--<div class="container">
            <div id="textoutput" class="form-group">
                <label for="inputText">Summary text</label>
                <div class="form-control" id="inputText" rows="10">

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>-->
        <!--<div class="container">
            <div id="fileinput" class="form-group">
                <label for="originalTextFile">Upload file</label>
                <input type="file" class="form-control-file" id="originalTextFile" aria-describedby="fileHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>-->

    </div>
</body>
</html>