body {
  background: linear-gradient(to left, #360033 , #0b8793);
  font-size: 100%;
} 
h1, p, label{
    color: white;
}
.container {
  opacity: 0.9;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: $white;
  border: 1px solid lighten($grey, 1%); 
  border-bottom: 3px solid $grey;
}
